body {
	background-color: whitesmoke;
}

fieldset {
	border: 1px solid rgb(0,0,255);
  	width: 400px;
  	margin: auto;
  	background-color: lightblue;
}

#fgstyle {
	font-size: 25px;
	color: white;
	background-color: lightblue;
	text-align: center;
}

#acstyle {
	font-size: 20px;
	color: blue;
}

#h4lbrk {
	display: inline;
}

.acesubmit {
	background-color: black;
    color: whitesmoke;
    padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border: none;
}

.emstyle {
	font-size: 15px;
	color: red;
}